In [1]:
import pandas as pd
from pykrx import stock
import tqdm


iem = pd.read_csv('iem_info.csv')

In [2]:
iem['code'] = iem['iem_cd'].apply(lambda x:x[1:])

In [3]:
data_code = iem['code'].tolist()

In [4]:
data = stock.get_market_ohlcv_by_date("20160101", "20210801", data_code[0])
data = data.T.reset_index(drop=True)
data.insert(0,'코드',data_code[:1]*5)
data

날짜,코드,2016-01-04 00:00:00,2016-01-05 00:00:00,2016-01-06 00:00:00,2016-01-07 00:00:00,2016-01-08 00:00:00,2016-01-11 00:00:00,2016-01-12 00:00:00,2016-01-13 00:00:00,2016-01-14 00:00:00,...,2021-07-19 00:00:00,2021-07-20 00:00:00,2021-07-21 00:00:00,2021-07-22 00:00:00,2021-07-23 00:00:00,2021-07-26 00:00:00,2021-07-27 00:00:00,2021-07-28 00:00:00,2021-07-29 00:00:00,2021-07-30 00:00:00
0,000020,8130,8040,8200,8470,8210,8870,9560,9190,8610,...,14800,14950,15050,14750,14750,14700,14500,14300,14500,14650
1,000020,8150,8250,8590,8690,8900,10100,9560,9200,8710,...,15200,15050,15050,14850,14900,14700,14550,14600,14650,14750
2,000020,7920,8000,8110,8190,8130,8800,8930,8600,8420,...,14700,14800,14750,14650,14500,14350,14350,14300,14500,14400
3,000020,8140,8190,8550,8380,8770,9380,9020,8780,8710,...,15100,14900,14800,14750,14600,14400,14400,14450,14600,14650
4,000020,281440,243179,609906,704752,802330,2844188,834633,885059,474061,...,206899,107379,94116,109511,107504,192180,96069,94912,83468,115604

In [5]:
null_code = []
for code in tqdm.tqdm(data_code[1:]):
    try:
        tmp = stock.get_market_ohlcv_by_date("20160101", "20210801", code)
        tmp = tmp.T.reset_index(drop=True)
        tmp.insert(0,'코드',[code]*5)
        data = pd.concat([data,tmp])
    except:
        null_code.append(code)

100%|██████████████████████████████████████████████████████████████████████████████| 3077/3077 [05:18<00:00,  9.67it/s]

In [10]:
data[data['코드']=='000020']

날짜,코드,2016-01-04 00:00:00,2016-01-05 00:00:00,2016-01-06 00:00:00,2016-01-07 00:00:00,2016-01-08 00:00:00,2016-01-11 00:00:00,2016-01-12 00:00:00,2016-01-13 00:00:00,2016-01-14 00:00:00,...,2021-07-19 00:00:00,2021-07-20 00:00:00,2021-07-21 00:00:00,2021-07-22 00:00:00,2021-07-23 00:00:00,2021-07-26 00:00:00,2021-07-27 00:00:00,2021-07-28 00:00:00,2021-07-29 00:00:00,2021-07-30 00:00:00
0,000020,8130.0,8040.0,8200.0,8470.0,8210.0,8870.0,9560.0,9190.0,8610.0,...,14800.0,14950.0,15050.0,14750.0,14750.0,14700.0,14500.0,14300.0,14500.0,14650.0
1,000020,8150.0,8250.0,8590.0,8690.0,8900.0,10100.0,9560.0,9200.0,8710.0,...,15200.0,15050.0,15050.0,14850.0,14900.0,14700.0,14550.0,14600.0,14650.0,14750.0
2,000020,7920.0,8000.0,8110.0,8190.0,8130.0,8800.0,8930.0,8600.0,8420.0,...,14700.0,14800.0,14750.0,14650.0,14500.0,14350.0,14350.0,14300.0,14500.0,14400.0
3,000020,8140.0,8190.0,8550.0,8380.0,8770.0,9380.0,9020.0,8780.0,8710.0,...,15100.0,14900.0,14800.0,14750.0,14600.0,14400.0,14400.0,14450.0,14600.0,14650.0
4,000020,281440.0,243179.0,609906.0,704752.0,802330.0,2844188.0,834633.0,885059.0,474061.0,...,206899.0,107379.0,94116.0,109511.0,107504.0,192180.0,96069.0,94912.0,83468.0,115604.0

In [11]:
data.to_csv('../data/주가정보_2016_2021.csv',index=None)