# 전체 dataset 불러오기

In [68]:
import pandas as pd

cus_info = pd.read_csv('data/cus_info.csv')
stk_bnc_hist = pd.read_csv('data/stk_bnc_hist.csv')
iem_info = pd.read_csv('data/iem_info_20210902.csv')
stk_hld_train = pd.read_csv('data/stk_hld_train.csv')
stk_hld_test = pd.read_csv('data/stk_hld_test.csv')

## STK_BNC_HIST.CSV, IEM_INFO_20210902.CSV

In [69]:
temp_stk = stk_bnc_hist.copy()

In [70]:
temp_map = iem_info.apply(lambda x : x[['iem_cd','btp_cfc_cd']],axis=1)

In [71]:
# act_id에 따른 종목코드와 종목업종을 연결하기위해 stk_bnc_hist.csv와 iem_info.csv를 합침
# act_id가 가장 많이 구매한 종목업종 찾음
temp_stk = pd.merge(temp_stk,temp_map,on='iem_cd',how='left')
temp_stk

,act_id,bse_dt,iem_cd,bnc_qty,tot_aet_amt,stk_par_pr,btp_cfc_cd
0,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200820,A008770,40.000,2828000.000,5000.000,7
1,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A008770,20.000,1390000.000,5000.000,7
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20160104,A005940,311.000,2982490.000,5000.000,2
3,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200814,A005930,40.000,2320000.000,100.000,9
4,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A005930,20.000,1028000.000,100.000,9
...,...,...,...,...,...,...,...
2573834,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200806,A035720,1.000,364000.000,500.000,5
2573835,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200813,A035720,0.000,0.000,500.000,5
2573836,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200819,A035720,1.000,376500.000,500.000,5
2573837,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200825,A035720,0.000,0.000,500.000,5
2573838,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200901,A035720,1.000,401500.000,500.000,5

In [72]:
temp_stk.groupby('act_id')['btp_cfc_cd'].value_counts()

act_id                                                            btp_cfc_cd
0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c5467ece45d5b35e99912a  13            38
                                                                  10            26
                                                                  14            19
                                                                  12            18
                                                                  2             16
                                                                                ..
fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6bc012f43564f626533  6              9
                                                                  8              6
                                                                  14             5
                                                                  12             4
                                                                  2              2
Name: btp_cfc_cd, Length: 85935, dtype: int64

In [73]:
temp = temp_stk.groupby('act_id')['btp_cfc_cd'].value_counts()

In [74]:
temp = temp_stk.groupby('act_id')['btp_cfc_cd'].value_counts()
temp = pd.DataFrame(temp)
temp.columns=['main_up']
temp = temp.reset_index()
print(temp)
# temp.groupby('act_id')['btp_cfc_cd']

                                                  act_id  btp_cfc_cd  main_up
0      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...          13       38
1      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...          10       26
2      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...          14       19
3      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...          12       18
4      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...           2       16
...                                                  ...         ...      ...
85930  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...           6        9
85931  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...           8        6
85932  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...          14        5
85933  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...          12        4
85934  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...           2        2

[85935 rows x 3 columns]

In [75]:
id_with_best_btp=temp.iloc[temp.groupby('act_id')['main_up'].idxmax().to_list()].reset_index(drop=True).drop('main_up',axis=1)

In [76]:
id_with_best_btp

                                                 act_id  btp_cfc_cd
0     0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...          13
1     0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...           9
2     0008d1bfac569bdb998897e2eb8519dec06b9277a686f4...          13
3     000a83a961cbcbce40673aed998effbd462fb10dcac8e6...           5
4     000b92ca83a96312a0909b1f489340f4d399c86555012f...           9
...                                                 ...         ...
9987  ffea89aa464a4fcf8a5416989d21deef4e748192ba17bf...          10
9988  ffecc8e2823943ef1a7b0d9c6512f716a88032a1bdf7ba...          10
9989  ffee399294db1c721e010cbf3dae5c8a1f140dbaf2dcae...           5
9990  fff7d563e388744fdc1ca90153ec0161d1345511cb9070...          10
9991  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...           9

[9992 rows x 2 columns]

In [77]:
# 국내주식 잔고이력에서 전체 종목코드 중 뭘 제일 많이 샀는지 내림차순
total_iem_cd=stk_bnc_hist['iem_cd'].value_counts()

In [78]:
total_iem_cd

A005930    61617
A000660    22483
A035720    21616
A005380    17722
A005935    17651
           ...
A366510        1
A358580        1
A201400        1
A163730        1
A29923L        1
Name: iem_cd, Length: 2926, dtype: int64

In [79]:
# 국내주식 잔고이력에서 전체 종목코드 중 개인 계좌번호에 따른 종목 뭘 제일 많이 샀는지 내림차순
personal_iem_cd=stk_bnc_hist.groupby('act_id')['iem_cd'].value_counts()

In [80]:
# 임의의 계좌번호로 확인
personal_iem_cd['1119c23c3a504ca7b75060277410c0f6fb9018ec7638c226bfff4211d8a7bde6']

iem_cd
A066570    3
A003620    2
A005880    2
A005930    2
A008770    2
A017810    2
A035420    2
A035720    2
A137400    2
A005490    1
A005940    1
A032640    1
A033780    1
Name: iem_cd, dtype: int64

## CUS_INFO.CSV

In [81]:
# 결측치 제거

cus_info.drop(cus_info[cus_info['tco_cus_grd_cd']==99].index,axis=0,inplace=True)

In [82]:
pd.options.display.float_format = '{:.3f}'.format
cus_info.corr()['tco_cus_grd_cd']

#고객등급, 자산구간 높은 상관관계

sex_dit_cd           0.118
cus_age_stn_cd      -0.269
ivs_icn_cd           0.161
cus_aet_stn_cd      -0.781
mrz_pdt_tp_sgm_cd   -0.052
lsg_sgm_cd          -0.219
tco_cus_grd_cd       1.000
tot_ivs_te_sgm_cd   -0.337
mrz_btp_dit_cd       0.099
Name: tco_cus_grd_cd, dtype: float64

In [83]:
#bse_dt 업데이트 기준날짜마다 count해줌 -> 임의가 아닌, 고객의 매수 매도 날짜임 (증거, 카카오톡 사진 첨부)

temp = stk_bnc_hist.groupby('act_id')['bse_dt'].count().reset_index()
temp.rename(columns={'bse_dt':'buy_sell_cnt'},inplace=True)

cus_info = pd.merge(cus_info,temp,on='act_id',how='left')
cus_info.dropna(inplace=True)

cus_info['buy_sell_cnt'] = cus_info['buy_sell_cnt'].astype(int)

In [84]:
# 고객 자산 구간 선택 / 고객등급은 버림 왜냐면 buy_sell cnt로 세기 때문에 많이 사고 팔았음 cnt가 높을거니까, 고객자산구간이 우리에게 더 적합한 데이터라고 판단.

# 고객자산구간 별, 매도 매수 횟수로 공격형/ 중립형/ 방어형 구분

quant_save = pd.DataFrame()

quant_save['1/3'] = cus_info.groupby('cus_aet_stn_cd')['buy_sell_cnt'].quantile(0.3)
quant_save['2/3'] = cus_info.groupby('cus_aet_stn_cd')['buy_sell_cnt'].quantile(0.6)
quant_save['3/3'] = cus_info.groupby('cus_aet_stn_cd')['buy_sell_cnt'].quantile(0.9)

quant_save

# 3/3 quantile(1)로 했을때 값 차이가 너무 심함, 이상치 인지 아닌지 확인 필요

                  1/3     2/3      3/3
cus_aet_stn_cd
1              22.000  76.000  345.000
2              44.000 137.000  548.700
3              57.000 175.000  672.000
4              74.000 227.600  870.900
5              82.900 278.000 1083.700
6              86.000 268.000 1042.000

In [85]:
# 그래서 max변수 만들어서 이상치?는 아니지만 초 단타 쟁이들 분류해줌

quant_save['max'] = cus_info.groupby('cus_aet_stn_cd')['buy_sell_cnt'].quantile(1)

In [86]:
# 1 : 방어형, 2 : 중립형, 3 : 공격형, 4: 초단타(아마 봇)

#투자유형 생성
cus_info['inv_type'] = cus_info.apply(lambda x : 1 if x['buy_sell_cnt'] < quant_save.loc[x['cus_aet_stn_cd']]['1/3'] else (2 if x['buy_sell_cnt'] < quant_save.loc[x['cus_aet_stn_cd']]['2/3'] else (3 if x['buy_sell_cnt'] < quant_save.loc[x['cus_aet_stn_cd']]['3/3'] else 4)),axis=1)

# hist_percentage 생성위해 삭제 보류
# cus_info.drop(['buy_sell_cnt'],axis=1,inplace=True)

In [87]:
#분류된 투자 성향별 count

cus_info['inv_type'].value_counts()

2    2993
3    2991
1    2971
4    1000
Name: inv_type, dtype: int64

In [88]:
cus_info.corr()

,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd,buy_sell_cnt,inv_type
sex_dit_cd,1.000,0.032,0.121,-0.089,-0.011,0.148,0.118,-0.070,0.007,-0.036,-0.059
cus_age_stn_cd,0.032,1.000,0.132,0.298,-0.009,0.867,-0.269,0.238,0.002,0.107,0.054
ivs_icn_cd,0.121,0.132,1.000,-0.127,-0.071,0.136,0.161,-0.100,0.058,-0.117,-0.226
cus_aet_stn_cd,-0.089,0.298,-0.127,1.000,0.043,0.256,-0.781,0.302,-0.101,0.147,-0.000
mrz_pdt_tp_sgm_cd,-0.011,-0.009,-0.071,0.043,1.000,-0.008,-0.052,0.046,0.005,-0.002,-0.020
lsg_sgm_cd,0.148,0.867,0.136,0.256,-0.008,1.000,-0.220,0.192,0.012,0.100,0.041
tco_cus_grd_cd,0.118,-0.269,0.161,-0.781,-0.052,-0.220,1.000,-0.338,0.099,-0.162,-0.097
tot_ivs_te_sgm_cd,-0.070,0.238,-0.100,0.302,0.046,0.192,-0.338,1.000,0.057,0.169,0.183
mrz_btp_dit_cd,0.007,0.002,0.058,-0.101,0.005,0.012,0.099,0.057,1.000,-0.053,-0.175
buy_sell_cnt,-0.036,0.107,-0.117,0.147,-0.002,0.100,-0.162,0.169,-0.053,1.000,0.438
inv_type,-0.059,0.054,-0.226,-0.000,-0.020,0.041,-0.097,0.183,-0.175,0.438,1.000

In [89]:
# 상관관계 있는 features

# 연령구간 & LiftStage
# 고객자산구간 & 고객등급 

# 고객등급, LifeStage 삭제처리 
# 고객등급은 새로 만든 inv_type으로 대체 가능하다 판단. 고객자산구간은 대체 불가

# life stage는 너무 TMi (over fitting 위험) 라고 판단, 연령구간만 사용해도 충분하다고 판단.

cus_info.drop(['tco_cus_grd_cd','lsg_sgm_cd'],axis=1,inplace=True)

In [90]:
# 국내주식 외 거래 삭제 + 주거래상품군 feature 삭제 처리

cus_info = cus_info[cus_info['mrz_pdt_tp_sgm_cd']==2]
cus_info.drop(['mrz_pdt_tp_sgm_cd'],axis=1,inplace=True)

In [91]:
# cus_info 안 주거래업종(mrz_btp_dit_cd)은 비매매, 매매 이렇게 두가지로만 나누기로함(이유는 x년도 12월기준 한달 데이터만 파악하기 때문에, 부족한 데이터라고 판단. )
# 대신 실제 고객의 거래 내역을 보고 주거래업종을 파악해 보기로 함 -> 채희 담당

cus_info['not_buy'] = cus_info.apply(lambda x : 1 if x['mrz_btp_dit_cd']==16 else 0,axis=1)
cus_info.drop(['mrz_btp_dit_cd'],axis=1,inplace=True)

### (매도매수횟수 / 마지막 매도일 - 첫 매수일) -> 10분위로 나눠서 0~1 값 부여 (buy_sell_quant)

In [94]:
temp = pd.to_datetime(stk_bnc_hist.groupby('act_id')['bse_dt'].max(),format='%Y%m%d') - pd.to_datetime(stk_bnc_hist.groupby('act_id')['bse_dt'].min(),format='%Y%m%d')

temp = pd.DataFrame(temp.map(lambda x : x.days)).reset_index()
temp.rename(columns={'bse_dt':'total_date'},inplace=True)
cus_info = pd.merge(cus_info,temp,how='left')

In [126]:
# 자신의 주식 기간중 딱 한번만 매수한 고객들
cus_info['buy_sell_quant'] = cus_info['buy_sell_cnt']/cus_info['total_date']

#결측치 체크
cus_info[cus_info['buy_sell_quant']==float('inf')]

# 어차피 우리가 예측하는 데이터들은 한번 매수, 매도 한 고객은 없어서 무시하는게 좋을 것 같다고 판단함. 오히려 넣으면 이상치로 작용할듯
# 제거 시작

,act_id,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,tot_ivs_te_sgm_cd,buy_sell_cnt,inv_type,not_buy,total_date,buy_sell_quant
112,19cd65f46d62bb3d873c6566d04f885d7fb10bf19c6ec3...,2,2,99,1,4,1,1,1,0,inf
121,46b3b0ffe8e039c1e6786be594b607354da1c48509c8a1...,1,3,99,1,3,1,1,1,0,inf
307,a61f7830c33536ea40ba0e70a06eaf753551cee872b76c...,2,6,99,1,3,1,1,1,0,inf
375,3b77cfb1ad6274878bfa3525c1c6fc53dd16fdfbd582c6...,1,6,99,2,3,1,1,1,0,inf
466,3136b6469890b164da8eeccb269ffeffb24b85370b60b6...,1,7,99,2,4,1,1,1,0,inf
...,...,...,...,...,...,...,...,...,...,...,...
9513,074e6696e6730cb38835acee1cc030991bc42e62384749...,1,1,99,1,2,1,1,1,0,inf
9519,ef2c4e6cbd76209d501a7f60da76392931b7b71fcfc893...,2,8,3,1,5,1,1,1,0,inf
9557,d68ad5c7b2343139d8086af576f1e397a1a7d262a97dad...,2,4,99,2,2,1,1,1,0,inf
9580,48f7108e920ab16a8ec38d459af375bb97d5f72656513a...,1,5,99,1,2,1,1,1,0,inf
9586,1106cab091690e13fecbc4a07c457142a8a85148e43dff...,1,1,99,1,2,1,1,1,0,inf

In [127]:
# 결측치 inf를 가지는 고객 데이터 삭제

remove_index = cus_info[cus_info['buy_sell_quant']==float('inf')].index
cus_info = cus_info.drop(remove_index).reset_index(drop=True)

,act_id,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,tot_ivs_te_sgm_cd,buy_sell_cnt,inv_type,not_buy,total_date,buy_sell_quant
0,64aae8dd71e5c0761000db9f9a6779e504e7a4aa9dc097...,1,4,99,1,6,4,1,1,1136,0.004
1,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,1,6,4,4,6,261,3,0,1821,0.143
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,2,7,4,3,6,23,1,0,1821,0.013
3,b727c78d2cfc246c97b677f29a034399a0c7e7873fff44...,1,5,2,2,5,56,2,1,772,0.073
4,4f330270cd37d758fbe9dfe45e0c40ed4579ab6b87a648...,1,5,3,4,6,1908,4,0,1822,1.047
...,...,...,...,...,...,...,...,...,...,...,...
9494,2fdd734bf8fc04c0d484ddc1d021622a1cdc802705702e...,1,9,4,2,2,9,1,1,86,0.105
9495,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,2,2,3,1,1,46,2,1,155,0.297
9496,7702030b3b0760e6b37c8a3e8ed58611b1b85913526ad1...,2,7,4,2,2,5,1,1,10,0.500
9497,4006ddaa5673365096b9dd5965e20db866f6523c162f79...,1,5,99,5,2,16,1,0,108,0.148
9498,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,1,6,0,5,5,1363,4,0,1822,0.748

In [169]:
# 고객 주식 운용기간 별 매수매도 비율 의 quant를 구해 10분위로 normalization 시켜줌

quant_dict = cus_info['buy_sell_quant'].quantile(np.arange(0,1,0.1)).to_dict()

def set_quant(x):
    for i in quant_dict:
        if x<quant_dict[i]:
            return i
    return 1

In [172]:
cus_info['buy_sell_quant'] = cus_info['buy_sell_quant'].map(lambda x: set_quant(x))

In [173]:
# over fitting 우려로 삭제.

cus_info.drop(['buy_sell_cnt'],axis=1,inplace=True)

#buy_sell_quant랑 total_date랑은 상관관계가 -0.054여서 거의 독립적임. 그래서 일단 total_date는 살려보기로 결정

In [175]:
cus_info.corr()

,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,tot_ivs_te_sgm_cd,inv_type,not_buy,total_date,buy_sell_quant
sex_dit_cd,1.000,0.027,0.123,-0.092,-0.074,-0.060,0.015,-0.088,-0.035
cus_age_stn_cd,0.027,1.000,0.125,0.299,0.237,0.048,-0.007,0.116,0.102
ivs_icn_cd,0.123,0.125,1.000,-0.123,-0.103,-0.239,0.155,-0.109,-0.198
cus_aet_stn_cd,-0.092,0.299,-0.123,1.000,0.299,0.005,-0.156,0.181,0.191
tot_ivs_te_sgm_cd,-0.074,0.237,-0.103,0.299,1.000,0.184,0.066,0.595,-0.025
inv_type,-0.060,0.048,-0.239,0.005,0.184,1.000,-0.339,0.326,0.721
not_buy,0.015,-0.007,0.155,-0.156,0.066,-0.339,1.000,-0.080,-0.313
total_date,-0.088,0.116,-0.109,0.181,0.595,0.326,-0.080,1.000,-0.151
buy_sell_quant,-0.035,0.102,-0.198,0.191,-0.025,0.721,-0.313,-0.151,1.000

#### 이렇게 구한 buy_sell_quant가 놀랍게도 투자성향(inv_type)이랑 상관관계가 0.7이나 나옴 ㄷㄷ
#### total date는 당연히 tot_ivs_te_sgm_cd(총 투자 기간)이랑 상관관계가 0.6가량 나옴

In [31]:
# buy_sell_quant랑 inv_type 높은 상관관계를 가짐.
# 당연히 같은 buy_sell_count변수에서 추출해낸 두개의 변수니까 이럴수밖에
# inv_type은 씨드머니 groupby해서 투자 성향별 2단계로 나눈거지만, 바로 1단계로 나눈 buy_sell_quant와 별 차이가 없는듯 하다.
# buy_sell_quant는 train데이터에서 hold에 곱해줘서 hist만 생성하고 삭제처리 하기로.

In [176]:
cus_info['best_btp']=id_with_best_btp['btp_cfc_cd']

In [177]:
cus_info

,act_id,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,tot_ivs_te_sgm_cd,inv_type,not_buy,total_date,buy_sell_quant,best_btp
0,64aae8dd71e5c0761000db9f9a6779e504e7a4aa9dc097...,1,4,99,1,6,1,1,1136,0.100,13
1,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,1,6,4,4,6,3,0,1821,0.400,9
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,2,7,4,3,6,1,0,1821,0.100,13
3,b727c78d2cfc246c97b677f29a034399a0c7e7873fff44...,1,5,2,2,5,2,1,772,0.300,5
4,4f330270cd37d758fbe9dfe45e0c40ed4579ab6b87a648...,1,5,3,4,6,4,0,1822,0.900,9
...,...,...,...,...,...,...,...,...,...,...,...
9610,2fdd734bf8fc04c0d484ddc1d021622a1cdc802705702e...,1,9,4,2,2,1,1,86,0.300,2
9611,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,2,2,3,1,1,2,1,155,0.600,5
9612,7702030b3b0760e6b37c8a3e8ed58611b1b85913526ad1...,2,7,4,2,2,1,1,10,0.800,10
9613,4006ddaa5673365096b9dd5965e20db866f6523c162f79...,1,5,99,5,2,1,0,108,0.400,10
9614,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,1,6,0,5,5,4,0,1822,0.900,10

In [178]:
cus_info.corr()

,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,tot_ivs_te_sgm_cd,inv_type,not_buy,total_date,buy_sell_quant,best_btp
sex_dit_cd,1.000,0.027,0.123,-0.092,-0.074,-0.060,0.015,-0.088,-0.035,-0.008
cus_age_stn_cd,0.027,1.000,0.125,0.299,0.237,0.048,-0.007,0.116,0.102,0.005
ivs_icn_cd,0.123,0.125,1.000,-0.123,-0.103,-0.239,0.155,-0.109,-0.198,-0.015
cus_aet_stn_cd,-0.092,0.299,-0.123,1.000,0.299,0.005,-0.156,0.181,0.191,0.006
tot_ivs_te_sgm_cd,-0.074,0.237,-0.103,0.299,1.000,0.184,0.066,0.595,-0.025,0.003
inv_type,-0.060,0.048,-0.239,0.005,0.184,1.000,-0.339,0.326,0.721,0.005
not_buy,0.015,-0.007,0.155,-0.156,0.066,-0.339,1.000,-0.080,-0.313,-0.013
total_date,-0.088,0.116,-0.109,0.181,0.595,0.326,-0.080,1.000,-0.151,0.007
buy_sell_quant,-0.035,0.102,-0.198,0.191,-0.025,0.721,-0.313,-0.151,1.000,0.001
best_btp,-0.008,0.005,-0.015,0.006,0.003,0.005,-0.013,0.007,0.001,1.000